<h1>Angular Router Demo</h1>
<a href="/customer">Customer</a> <br />
<a routerLink="product999">Product</a>
<br>
<a routerLink="category">category</a>
<router-outlet></router-outlet>
<!-- <app-mainpage></app-mainpage> -->
<!-- 
<p-panel>
  <ng-template pTemplate="header"> Header content here </ng-template>
  Body Content
  <ng-template pTemplate="footer"> Footer content here </ng-template>
</p-panel>

<br /><br />
<hr />
<p-panel>
  <ng-template pTemplate="header"> Header content here </ng-template>
  Body Content
  <ng-template pTemplate="footer"> Footer content here </ng-template>
</p-panel>

<span class="p-float-label">
  <input id="float-input" type="text" pInputText />
  <label for="float-input">Username</label>
</span>
<p>
  <mat-form-field appearance="legacy">
    <mat-label>Legacy form field</mat-label>
    <input matInput placeholder="Placeholder" />
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint>Hint</mat-hint>
  </mat-form-field>
</p>
<p>
  <mat-form-field appearance="standard">
    <mat-label>Standard form field</mat-label>
    <input matInput placeholder="Placeholder" />
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint>Hint</mat-hint>
  </mat-form-field>
</p>
<p>
  <mat-form-field appearance="fill">
    <mat-label>Fill form field</mat-label>
    <input matInput placeholder="Placeholder" />
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint>Hint</mat-hint>
  </mat-form-field>
</p>
<p>
  <mat-form-field appearance="outline">
    <mat-label>Outline form field</mat-label>
    <input matInput placeholder="Placeholder" />
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint>Hint</mat-hint>
  </mat-form-field>
</p> -->

<!-- Copyright 2022 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at https://angular.io/license -->
